* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: beige;
}

.button {
  font-size: 45px;
  display: flex;
  margin: 4em auto;
  cursor: pointer;
}
.button:active {
  background-color: black;
  color: white;
  transition: 0.8s;
}
h1 {
  display: flex;
  font-size: 150px;
  margin-top: -1em;
}
